.main-content
  .mb-3
  %table.table.table-hover
    %thead.thead-default
      %tr
        %th= Student.human_attribute_name(:name)
        %th= Student.human_attribute_name(:email)
        %th= Student.human_attribute_name(:created_at)
        %th= Student.human_attribute_name(:updated_at)
        %th
      %th
    %tbody
      - @students.each do |student|
        %tr
          %td= student.name
          %td= student.email
          %td= student.created_at.to_s
          %td= student.updated_at.to_s
          %td
            =link_to '編集', edit_classroom_student_path(@classroom, student), class:'btn btn-primary mr-3' 
            =link_to '削除', classroom_student_path(@classroom, student), method: :delete, data: { confirm: "ユーザー「#{student.name}」を削除します。よろしいですか？"}, class: 'btn btn-danger'
