
%h1.page-title #{title}一覧
%table.table.table-hover
  %tbody.thead-default
    - cardsets.each do |cardset|
      %tr
        %td= cardset.name
        %td 作成者: #{cardset.user.name}
        -if current_user.duplicated_cardsets.include?(DuplicatedCardset.find_by(user_id: current_user.id, origin_id: cardset.id))
          %td 
            = link_to '学習する', user_cardset_practice_path(cardset_id: cardset.id, user_id: current_user.id), class:"btn btn-primary"
            学習中 
            %i{class: "fas fa-pencil-alt"}
        -else
          %td= link_to '学習する', user_cardset_practice_path(cardset_id: cardset.id, user_id: current_user.id), class:"btn btn-primary"
        %td= link_to 'リストをみる', user_cardset_path(id: cardset.id, user_id: current_user.id), class:"btn btn-info"
        -if cardset.user == current_user
          %td= link_to '編集する', edit_user_cardset_path(id: cardset.id, user_id: current_user.id), class:"btn btn-warning"
          %td= link_to '削除する', user_cardset_path(id: cardset.id, user_id: current_user.id), method: :delete, data: { confirm: '本当によろしいですか' }, class:"btn btn-danger"

%br

= link_to '新しく学習セットを作成する', new_user_cardset_path, class: "btn btn-info"