.cm-container
  .mypage-wrapper 
    .right-content
      .SetPage
        %nav.SetPage-studyModes
          .UIRow
            %span.SetPageModes-group
              .SetPageModes-buttonWrapper.active
                =link_to '#', class: 'SetPageModeButton' do
                  .SetPageModeButton-content
                    %span.SetPageModeButton-modeName 単語リスト
              .SetPageModes-buttonWrapper
                =link_to '#', class: 'SetPageModeButton' do
                  .SetPageModeButton-content
                    %span.SetPageModeButton-modeName 学習中のセット
              .SetPageModes-buttonWrapper
                =link_to '#', class: 'SetPageModeButton' do
                  .SetPageModeButton-content
                    %span.SetPageModeButton-modeName 未学習のセット
              .link.SetPageModes-buttonWrapper
                =link_to new_cardset_path, class: 'SetPageModeButton' do
                  .SetPageModeButton-content
                    %span.SetPageModeButton-modeName セット作成
              .link.SetPageModes-buttonWrapper
                =link_to test_student_cardset_path(@cardset, @cardset), class: 'SetPageModeButton' do
                  .SetPageModeButton-content
                    %span.SetPageModeButton-modeName テスト
        %section.SetPageCardsPreview-container
          .SetPageCardsPreview
            .CardsList
              .CardsList-container{"data-cardset-id": "#{@cardset.id}"}

                %section.CardsItem.current.showing.showing-first#card-1{"data-index": 1}
                  .CardsItemSide.CardsItemSide--firstSide
                    .FormattedText.notranslate.lang-en
                      %div{style:"display:block"}=@words[0].name
                  .CardsItemSide.CardsItemSide--secondSide
                    .FormattedText.notranslate.lang-ja
                      %div{style:"display:block"}=@words[0].meaning

                %section.CardsItem.next.showing.showing-first#card-2{"data-index": 2}
                  .CardsItemSide.CardsItemSide--firstSide
                    .FormattedText.notranslate.lang-en
                      %div{style:"display:block"}=@words[1].name
                  .CardsItemSide.CardsItemSide--secondSide
                    .FormattedText.notranslate.lang-ja
                      %div{style:"display:block"}=@words[1].meaning

                -# %section.CardsItem.finish.showing.showing-first
                -#   .CardsItemSide.CardsItemSide--firstSide
                -#     .FormattedText.notranslate.lang-en
                -#       %div{style:"display:block"} お疲れ様でした！


              .CardsList-navControl.previousButton
                .UIIconButton
                  %button.UIButton.UIButton--borderless{title: "前のカード", type: "button"}
                    %span.UIButton-wrapper
                      %i{class:"fas fa-arrow-left"}
              .CardsList-navControl.progressIndex{"data-max-index": "#{@words.length}" }
                %span.UIText.UIText--bodyThree
              .CardsList-navControl.nextButton
                .UIIconButton
                  %button.UIButton.UIButton--borderless{title: "次のカード", type: "button"}
                    %span.UIButton-wrapper
                      %i{class:"fas fa-arrow-right"}
           

      .cardset-content
        %div.active
          %table.table.table-hover.mt-5
            %thead.thead-default
              %tr
                %th.mb-1 用語
                %th 定義
                %th 覚えた！
                
            %tbody
              - @words.each do |word|
                %tr.word-list
                  %td.listed-word=word.name
                  %td.listed-word=word.meaning
                  %td
                    %input.memorized{id: "check-#{word.name}", type: "checkbox"}
                    %label{for: "check-#{word.name}"}
          -if @cardset.student == current_student
            = link_to 'このフラッシュカードを編集する', edit_cardset_path(@cardset), class:"btn btn-warning"

          

        %div
          %table.table.table-hover.mt-5
            %thead.thead-default
              %tr
                %th.mb-1 名前
                %th 
            %tbody
              - @student.duplicated_cardsets.each do |cardset|
                %tr
                  %td= link_to cardset.name, practice_student_cardset_path(current_student, cardset)



        %div 
          %table.table.table-hover.mt-5
            %thead.thead-default
              %tr
                %th.mb-1 名前
                %th 
            %tbody
              - @cardsets.each do |cardset|
                %tr
                  %td= link_to cardset.name, practice_student_cardset_path(current_student, cardset) 
    .left-content
      =render partial:  'mypage/user-info', locals: {user: @student}
      =render partial: 'mypage/latest-news'
      =render partial: 'mypage/side-bar'


      

