.cm-container
  .mypage-wrapper 
    .right-content
      .SetPage-studyPreview
        %nav.SetPage-studyModes
          .UIRow
            %span.SetPageModes-group.SetPageModes-group--study
              .SetPageModes-buttonWrapper.active
                =link_to '#', class: 'nav-link SetPageModeButton is-highlighted' do
                  .SetPageModeButton-content
                    .SetPageModeButton-icon
                    %span.SetPageModeButton-modeName 単語リスト
              .SetPageModes-buttonWrapper
                =link_to '#', class: 'nav-link SetPageModeButton' do
                  .SetPageModeButton-content
                    .SetPageModeButton-icon
                    %span.SetPageModeButton-modeName 学習中のセット
              .SetPageModes-buttonWrapper
                =link_to '#', class: 'nav-link SetPageModeButton' do
                  .SetPageModeButton-content
                    .SetPageModeButton-icon
                    %span.SetPageModeButton-modeName 未学習のセット
              .SetPageModes-buttonWrapper-link
                =link_to new_cardset_path, class: 'nav-link SetPageModeButton' do
                  .SetPageModeButton-content
                    .SetPageModeButton-icon
                    %span.SetPageModeButton-modeName セット作成
              .SetPageModes-buttonWrapper-link
                =link_to test_student_cardset_path(@cardset, @cardset), class: 'nav-link SetPageModeButton' do
                  .SetPageModeButton-content
                    .SetPageModeButton-icon
                    %span.SetPageModeButton-modeName テスト
        %section.SetPageCardsPreview-container
          .SetPageCardsPreview
            .SetPageCardsPreview-inner
              .CardsList.CardsList--showSingle
                .CardsList-container{"data-cardset-id": "#{@cardset.id}"}

                  %section.CardsItem.current.showing.showing-first#card-1{"data-index": 1}
                    .CardsItemSide.CardsItemSide--firstSide.has-text
                      .CardsItemInner.CardsItemInner--showBox
                        .CardsItemInner-cell
                          .FormattedTextWithImage
                            .FormattedText.notranslate.lang-en
                              %div{style:"display:block"}=@words[0].name
                    .CardsItemSide.CardsItemSide--secondSide.CardsItemSide--lastSide.has-text
                      .CardsItemInner.CardsItemInner--showBox
                        .CardsItemInner-cell
                          .FormattedTextWithImage
                            .FormattedText.notranslate.lang-ja
                              %div{style:"display:block"}=@words[0].meaning

                  %section.CardsItem.next.showing.showing-first#card-2{"data-index": 2}
                    .CardsItemSide.CardsItemSide--firstSide.has-text
                      .CardsItemInner.CardsItemInner--showBox
                        .CardsItemInner-cell
                          .FormattedTextWithImage
                            .FormattedText.notranslate.lang-en
                              %div{style:"display:block"}=@words[1].name
                    .CardsItemSide.CardsItemSide--secondSide.CardsItemSide--lastSide.has-text
                      .CardsItemInner.CardsItemInner--showBox
                        .CardsItemInner-cell
                          .FormattedTextWithImage
                            .FormattedText.notranslate.lang-ja
                              %div{style:"display:block"}=@words[1].meaning

                  %section.CardsItem.finish.showing.showing-first
                    .CardsItemSide.CardsItemSide--firstSide.has-text
                      .CardsItemInner.CardsItemInner--showBox
                        .CardsItemInner-cell
                          .FormattedTextWithImage
                            .FormattedText.notranslate.lang-en
                              %div{style:"display:block"} お疲れ様でした！


                .CardsList-navControl.previousButton
                  .UIIconButton
                    %button.UIButton.UIButton--borderless{title: "前のカード", type: "button"}
                      %span.UIButton-wrapper
                        %i{class:"fas fa-arrow-left"}
                .CardsList-navControl.progressIndex{"data-max-index": "#{@words.length}" }
                  %span.UIText.UIText--bodyThree
                .CardsList-navControl.nextButton
                  .UIIconButton
                    %button.UIButton.UIButton--borderless{title: "次のカード", type: "button"}
                      %span.UIButton-wrapper
                        %i{class:"fas fa-arrow-right"}
                .CardsList-fontSizer

      .cardset-content
        %div.active
          %table.table.table-hover.mt-5
            %thead.thead-default
              %tr
                %th.mb-1 用語
                %th 定義
                %th 覚えた！
                
            %tbody
              - @words.each do |word|
                %tr.word-list
                  %td.listed-word=word.name
                  %td.listed-word=word.meaning
                  %td
                    %input.memorized{id: "check-#{word.name}", type: "checkbox"}
                    %label{for: "check-#{word.name}"}

          

        %div
          %table.table.table-hover.mt-5
            %thead.thead-default
              %tr
                %th.mb-1 名前
                %th 作成者
                %th 
            %tbody
              - @student.duplicated_cardsets.each do |cardset|
                %tr
                  %td= link_to cardset.name, practice_student_cardset_path(current_student, cardset)
                  %td=cardset.origin.student.name



        %div 
          %table.table.table-hover.mt-5
            %thead.thead-default
              %tr
                %th.mb-1 名前
                %th 作成者
                %th 
            %tbody
              - @cardsets.each do |cardset|
                %tr
                  %td= link_to cardset.name, practice_student_cardset_path(current_student, cardset) 
                  %td=cardset.student.name
    .left-content
      =render partial:  'mypage/user-info', locals: {user: @student}
      =render partial: 'mypage/latest-news'
      =render partial: 'mypage/side-bar'


      

