= form_with(model: cardset, local: true) do |f|
  .CreateSetHeader
    .CreateSetHeader-stickyPlaceholder
      .CreateSetHeader-sticky
        .UIContainer
          .CreateSetHeader-heading
            .CreateSetHeader-headingText
              .CreateSetHeader-title
                %span フラッシュカードを作成する
            .CreateSetHeader-infoButtonWrap
              -if cardset.persisted?
                = f.submit '変更を決定する', class:"btn btn-primary"
              -else
                = f.submit '作成する', class:"btn btn-primary"
              = link_to '単語を追加する', '#', class:"btn btn-warning addCards"
              = link_to '一覧に戻る', cardsets_path, class:"btn btn-info"
             
    .UIContainer
      .CreateSetHeader-headingContent
        .CreateSetHeader-textarea.CreateSetHeader-title
          .SpecialCharacterTextarea
            %label.UITextarea
              .UITextarea-content
                .AutoExpandTextarea.UITextarea-textarea.UITextarea-autoExpandTextarea
                  .AutoExpandTextarea-sizer
                  .AutoExpandTextarea-wrapper
                    =f.text_area :name, placeholder:"課目名、章、ユニット", class:"AutoExpandTextarea-textarea"
                %span.UITextarea-border
              %span.UITextarea-label
                %span タイトル
              - if cardset.errors.any?
                #error_explanation
                  %ul
                    - cardset.errors[:name].each do |message|
                      %li= message

    .UIContainer#input_cards
      - if cardset.errors.any?
        #error_explanation
          %ul
            - cardset.errors[:words].each do |message|
              %li= message
      =render partial: 'shared/new_card', locals: {f: f}
    .UIContainer
