= form_with(model: post, local: true) do |form|
  - if post.errors.any?
    #error_explanation
      %h2
        = pluralize(post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - post.errors.full_messages.each do |message|
          %li= message
  .margin-0-auto
    .mb-5        
      .field
        = form.label :title
        = form.text_field :title, class: "form-control"
      .field
        = form.label :content
        = form.rich_text_area :content
      .actions
        = form.submit class: 'btn btn-primary'
