%p#notice= notice
%h1 投稿一覧
%table
  %thead
    %tr
      %th タイトル
      %th{:colspan => "3"}
  %tbody
    - @posts.each do |post|
      %tr
        %td= post.title
        %td= link_to '詳細', post
        %td= link_to '編集', edit_post_path(post)
        %td= link_to '削除', post, method: :delete, data: { confirm: '本当に削除しますか？' }
%br/
= link_to '新規登録', new_post_path
