%p#notice= notice
.main-content
  %h1 学習テーマ一覧
  %table.table.table-hover.post-table 
    %thead.thead-default
      %tr
        %th タイトル
        %th{:colspan => "3"}
    %tbody
      - @posts.each do |post|
        %tr
          %td= post.title
          -if current_user.admin?
            %td
              = link_to '詳細', post, class: 'btn btn-primary'
              = link_to '編集', edit_post_path(post), class: 'btn btn-primary'
              = link_to '削除', post, method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger'
          -else
            %td
              = link_to '開く', post, class: 'btn btn-primary'
  -if current_user.admin?        
    %br/
    = link_to '学習テーマ投稿', new_post_path, class: 'btn btn-primary'
