%ul.side-bar 
  %li.side-bar__menu 
    = link_to "#", class:"side-bar__menu--link" do
      単語王
      %i.fa.fa-chevron-right
  %li.side-bar__menu  
    = link_to "#", class:"side-bar__menu--link" do
      文法王
      %i.fa.fa-chevron-right
  %li.side-bar__menu  
    = link_to "#", class:"side-bar__menu--link" do
      読解王
      %i.fa.fa-chevron-right
  %li.side-bar__menu 
    = link_to "#", class:"side-bar__menu--link" do
      聴解王
      %i.fa.fa-chevron-right
  %li.side-bar__menu 
    = link_to "#", class:"side-bar__menu--link" do
      弁論王
      %i.fa.fa-chevron-right
  %li.side-bar__menu 
    = link_to "#", class:"side-bar__menu--link" do
      雑談王
      %i.fa.fa-chevron-right

%ul.side-bar 
  %p テスト
  %li.side-bar__menu 
    = link_to "#", class:"side-bar__menu--link" do
      テストに挑戦
      %i.fa.fa-chevron-right
  %li.side-bar__menu 
    = link_to "#", class:"side-bar__menu--link" do
      テストを復習
      %i.fa.fa-chevron-right

%ul.side-bar 
  %p クラス課題
  %li.side-bar__menu 
    = link_to "#", class:"side-bar__menu--link" do
      チーム課題
      %i.fa.fa-chevron-right
  %li.side-bar__menu  
    = link_to "#", class:"side-bar__menu--link" do
      問題作成
      %i.fa.fa-chevron-right
  %li.side-bar__menu 
    = link_to "#", class:"side-bar__menu--link" do
      記事作成
      %i.fa.fa-chevron-right
  %li.side-bar__menu 
    = link_to "#", class:"side-bar__menu--link" do
      Thanks Letter
      %i.fa.fa-chevron-right