-if current_student
  %ul.side-bar.mypage-top-nav 
    %p 
    %li.side-bar__menu 
      = link_to "#", class:"side-bar__menu--link" do
        クラス課題
        %i.fa.fa-chevron-up

    .droplist
      %ul
        %li
          =link_to classrooms_path, class: 'nav-link' do
            生徒一覧
            %i.fa.fa-chevron-right
        %li
          =link_to classrooms_path, class: 'nav-link' do
            生徒登録
            %i.fa.fa-chevron-right
        %li
          =link_to new_classroom_path, class: 'nav-link' do
            新規クラス登録
            %i.fa.fa-chevron-right
        

  %ul.side-bar.mypage-middle-nav 
    %p テスト
    %li.side-bar__menu 
      = link_to "#", class:"side-bar__menu--link" do
        テストに挑戦
        %i.fa.fa-chevron-right
    %li.side-bar__menu 
      = link_to "#", class:"side-bar__menu--link" do
        テストを復習
        %i.fa.fa-chevron-right

  %ul.side-bar 
    %p 〇〇王チャレンジ
    %li.side-bar__menu 
      = link_to student_word_king_path(current_student), class:"side-bar__menu--link" do
        単語王
        %i.fa.fa-chevron-right
    %li.side-bar__menu  
      = link_to "#", class:"side-bar__menu--link" do
        文法王
        %i.fa.fa-chevron-right
    %li.side-bar__menu  
      = link_to "#", class:"side-bar__menu--link" do
        読解王
        %i.fa.fa-chevron-right
    %li.side-bar__menu 
      = link_to "#", class:"side-bar__menu--link" do
        聴解王
        %i.fa.fa-chevron-right
    %li.side-bar__menu 
      = link_to "#", class:"side-bar__menu--link" do
        弁論王
        %i.fa.fa-chevron-right
    %li.side-bar__menu 
      = link_to "#", class:"side-bar__menu--link" do
        雑談王
        %i.fa.fa-chevron-right

  %ul.side-bar 
    %p 
    %li.side-bar__menu 
      = link_to "#", class:"side-bar__menu--link" do
        Thanks Letter
        %i.fa.fa-chevron-right

-if current_teacher
  %ul.side-bar.mypage-top-nav
    %p 管理メニュー
    %li.side-bar__menu  
      = link_to "#", class:"side-bar__menu--link" do
        クラス課題管理
        %i.fa.fa-chevron-right
    %li.side-bar__menu  
      = link_to "#", class:"side-bar__menu--link" do
        クラス管理
        %i.fa.fa-chevron-right
    %li.side-bar__menu 
      = link_to "#", class:"side-bar__menu--link" do
        記事管理
        %i.fa.fa-chevron-right
    %li.side-bar__menu 
      = link_to "#", class:"side-bar__menu--link" do
        Thanks Letter管理
        %i.fa.fa-chevron-right

  %ul.side-bar
    %p 問題作成 
    %li.side-bar__menu 
      = link_to "#", class:"side-bar__menu--link" do
        単語王
        %i.fa.fa-chevron-right
    %li.side-bar__menu  
      = link_to "#", class:"side-bar__menu--link" do
        文法王
        %i.fa.fa-chevron-right
    %li.side-bar__menu  
      = link_to "#", class:"side-bar__menu--link" do
        読解王
        %i.fa.fa-chevron-right
    %li.side-bar__menu 
      = link_to "#", class:"side-bar__menu--link" do
        聴解王
        %i.fa.fa-chevron-right
    %li.side-bar__menu 
      = link_to "#", class:"side-bar__menu--link" do
        弁論王
        %i.fa.fa-chevron-right
    %li.side-bar__menu 
      = link_to "#", class:"side-bar__menu--link" do
        雑談王
        %i.fa.fa-chevron-right

