- breadcrumb :root
=render "layouts/breadcrumbs"  
.cm-container  
  .mypage-wrapper 
    .test-gates.row

      .col-xs-6.col-sm-4.col-md-3
        .test-gate
          %h4.test-title 単語王
          .test-image
            = image_pack_tag 'media/images/red-king.png', size: '100x100', alt: 'user-icon'
          =link_to '#' do
            .round-btn.round-btn--red
              テストをはじめる
      .col-xs-6.col-sm-4.col-md-3
        .test-gate
          %h4.test-title 読解王
          .test-image
            = image_pack_tag 'media/images/orange-king.png', size: '100x100', alt: 'user-icon'
          =link_to '#' do
            .round-btn.round-btn--orange
              テストをはじめる
          %p 準備中
      .col-xs-6.col-sm-4.col-md-3
        .test-gate
          %h4.test-title 聴解王
          .test-image
            = image_pack_tag 'media/images/yellow-king.png', size: '100x100', alt: 'user-icon'
          =link_to '#' do
            .round-btn.round-btn--yellow
              テストをはじめる
          %p 準備中
      .col-xs-6.col-sm-4.col-md-3
        .test-gate
          %h4.test-title 弁論王
          .test-image
            = image_pack_tag 'media/images/green-king.png', size: '100x100', alt: 'user-icon'
          =link_to '#' do
            .round-btn.round-btn--green
              テストをはじめる
          %p 準備中
      .col-xs-6.col-sm-4.col-md-3
        .test-gate
          %h4.test-title 文法王
          .test-image
            = image_pack_tag 'media/images/blue-king.png', size: '100x100', alt: 'user-icon'
          =link_to '#' do
            .round-btn.round-btn--blue
              テストをはじめる
          %p 準備中
      .col-xs-6.col-sm-4.col-md-3
        .test-gate
          %h4.test-title 作文王
          .test-image
            = image_pack_tag 'media/images/purple-king.png', size: '100x100', alt: 'user-icon'
          =link_to '#' do
            .round-btn.round-btn--purple
              テストをはじめる
          %p 準備中
    

            


