.app-header
  .cm-container
    .app-header__title
      = image_pack_tag 'media/images/title-logo.png', alt: 'title-logo'
    #nav-drawer
      %input{id: "nav-input", type: "checkbox", class: "nav-unshown"}
      %label{id: "nav-open", for: "nav-input"}
        %span
      %label{class: "nav-unshown", id: "nav-close", for: "nav-input"}
      #nav-content
        %ul.app-header__list
          - if current_teacher
            %li.header-nav
              = link_to 'テスト', root_path
            %li.header-nav
              = link_to 'フラッシュカード作成', new_cardset_path
            %li.header-nav
              = link_to '先生ページ', teacher_mypage_path(current_teacher)
            %li.header-nav
              = link_to 'ログアウト', destroy_teacher_session_path, method: :delete
          - elsif current_student
            %li.header-nav
              = link_to 'テスト', root_path
            %li.header-nav
              = link_to 'フラッシュカードを作成する', new_cardset_path
            %li.header-nav
              = link_to 'マイページ', student_mypage_path(current_student)
            %li.header-nav
              = link_to 'ログアウト', destroy_student_session_path, method: :delete
          - else
            %li
              = link_to '生徒のログイン', new_student_session_path
            %li
              = link_to '先生のログイン', new_teacher_session_path
